@if (countries.ready()) {
  <div
    class="grid grid-cols-1 justify-items-center gap-10 md:grid-cols-2 md:gap-20 lg:grid-cols-3 xl:grid-cols-4"
  >
    @defer {
      @for (id of countries.cca3s; track id) {
        @if (shouldDisplay(id)) {
          <div
            class="rounded-slight shadowed flex min-h-[21rem] w-[16.5rem] flex-col bg-white dark:bg-dark-blue"
            tabindex="0"
            role="button"
            attr.aria-labelledby="{{ id }}-name"
            (click)="handleClick(id.toLowerCase())"
            (keydown)="handleKeydown($event, id.toLowerCase())"
          >
            <div class="w-full">
              <img
                [src]="countries.countries[id].flags.png"
                [alt]="countries.countries[id].flags.alt"
                class="h-40 w-full object-cover"
              />
            </div>

            <div class="flex flex-col gap-4 p-6">
              <h2 class="text-lg font-extrabold" id="{{ id }}-name">
                {{ countries.countries[id].name.common }}
              </h2>

              <ul class="flex flex-col gap-2 text-sm font-light !leading-4">
                <li>
                  <span class="font-semibold">Population:</span>
                  {{ countries.countries[id].population | number: "1.0-0" }}
                </li>

                <li>
                  <span class="font-semibold">Region:</span>
                  {{ countries.countries[id].region }}
                </li>

                <li>
                  <span class="font-semibold">Capital:</span>
                  {{ countries.countries[id].capital | listToString }}
                </li>
              </ul>
            </div>
          </div>
        }
      }
    } @placeholder {
      <p class="mx-auto text-center text-lg">Creating the grid...</p>
    }
  </div>
} @else {
  <p class="mx-auto text-center text-lg">Fetching the data...</p>
}
