<header
  class="h-20 flex items-center justify-between px-4 bg-white dark:bg-dark-blue"
>
  <span class="text-sm font-extrabold lg:text-2xl">Where in the world?</span>

  <button
    class="flex flex-row gap-2 items-center text-xs lg:text-base"
    (click)="theme.toggleTheme()"
  >
    @if (theme.theme === "light") {
      <img src="/icon-moon.svg" alt="" class="size-4" />
      Dark Mode
    } @else {
      <img src="/icon-sun.svg" alt="" class="size-4" />
      Light Mode
    }
  </button>
</header>

<router-outlet></router-outlet>
