<header
  class="flex h-20 items-center justify-between bg-white px-4 dark:bg-dark-blue lg:px-20"
>
  <span class="text-sm font-extrabold lg:text-2xl">Where in the world?</span>

  <button
    class="flex flex-row items-center gap-2 text-xs lg:text-base"
    (click)="theme.toggleTheme()"
  >
    @if (theme.theme === "light") {
      <img src="/icon-moon.svg" alt="" class="size-4" />
      Dark Mode
    } @else {
      <img src="/icon-sun.svg" alt="" class="size-4" />
      Light Mode
    }
  </button>
</header>

<router-outlet></router-outlet>
